
/* css初始化开始 */

* {
    margin: 0;
    padding: 0;

}

/* .clearfix::after {
    content: '';
    display: block;
    clear: both;
} */

/* css初始化结束 */


/* 公共类开始 */

ul {
    list-style: none;
}

a {
    color: #8f8e94;
    /* color: #bdbdc0; */
    text-decoration: none;
}


/* 公共类结束 */

body {
    width: 1366px;
}

.page {
    background-color: #fafafa;
}


/* 顶部开始 */
.top {
    background-color: #fafafa;
    height: 100px;
    padding: 0 170px;

}
.logo img {
    height: 40px;
    margin-top: 28px;
    float: left;
}
.download-feedback {
    color: #8f8e94;
    /* color: #bdbdc0; */
    font-size: 12px;
    margin-top: 31px;
    margin-left: 40px;
    float: left;
}

.login {
    font-size: 12px;
    margin-top: 50px;
    color: #8f8e94;
    /* color: #bdbdc0; */
    float: right;
}

/* 顶部结束 */


/* 左侧二维码开始 */
.qr-code {
    float: left;
    margin-top: 95px;
    margin-left: 265px;
    /* background-color: rgb(255, 164, 164); */
    width: 95px;
    height: 140px;

}
.qr-code img {
    display: block;
    margin: 0 auto;
    width: 90px;
}
.qr-code span {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}
/* 左侧二维码结束 */

main {
    margin-left: 446px;
   
    /* background-color: rgb(93, 169, 255); */
    width: 920px;
    height: 426px;
}

.select {
    /* background-color: rgb(255, 164, 164); */
    color: #2f9842;
    font-size: 16px;
    margin-top: 20px;
}


.song h1 a {
    color: #000;
}
.song h2 a {
    color: rgb(74, 74, 74);
    /* color: #bdbdc0; */
}

.song h1 a:hover,
.song h2 a:hover {
   text-decoration: underline;
}



.song h1{
    font-weight: normal;
    margin-top: 70px;
    margin-left: 25px;
    font-size: 25px;
    margin-bottom: 10px;
}
.song h2 {
    font-weight: normal;
   
    margin-left: 23px;
    margin-bottom: 25px;
    font-size: 15px;

}
ul li{
    color: #bdbdc0;
    float: left;
}

.song-a li:nth-child(1) {
    padding-left: 75px;
    padding-right: 256px;
}
.song-a li:nth-child(2) {
    padding-right: 30px;
}
.song-a li:nth-child(3) {
    padding-right: 30px;
}

hr {
    margin-left: 23px;
    width: 430px;
}



.song-a {

    height: 24px;
}
.song-a a i {
    color: rgb(74, 74, 74);
    font-size: 14px;
}


.song-b {
    margin-top: 60px;
    height: 24px;
}

.song-b a i {
    color: rgb(97, 97, 97);
    font-size: 26px;
}


.song-b li:nth-child(1) {
    padding-left: 20px;
    padding-right: 33px;
}
.song-b li:nth-child(2) {
    padding-right: 244px;
}
.song-b li:nth-child(3) {
    padding-right: 56px;
}


.song img {
    width: 240px;
    margin-top: -50%;
    margin-bottom: -22px;
   
    margin-left: 40px;
    border-radius: 50%;
 

}

.registered {
    color: #4a4a4a;
    text-align: center;
    width: 333px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    background-color: #e7e7e7;
    top: 444px;
    left: 463px;
    position: absolute;
}
.registered a {
    color: #2f9842;
}


.arrow {
    color: #78c386;
    top: 459px;
    left: 1186px;
    position: absolute;
}

.arrow i {
    font-size: 26px;
}


footer {
    width: 1366px;
    height: 100px;

}

.foot {
    display: inline-block;
    height: 18px;
    margin-left: 355px;
    margin-top: 45px;
}
.foot li a i {
    font-size: 20px;
}
.foot li a {
    color: #8f8e94;
    display: inline-block;
    padding-right: 85px;
    /* margin: 0 auto; */
}





.foot li a:hover,
.song-a i:hover,
.song-b i:hover {
    color: #252525;
}



