 * {        
    margin: 0;
    padding: 0;
    font-weight:normal;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: #666666;
}



body {

    background:  url(https://4.url.cn/zc/v3/img/01-3.jpg) 0 0 no-repeat;
    background-size: 480px ;
    background-attachment:fixed;

}
.header-QQ {
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    position: fixed;
    margin-left: 30px;
    margin-top: 18px;
    /* padding-left: 46px; */
    font-size: 36px;
    height: 43px;
    line-height: 43px;
    /* display: block; */
    color: #000;
}
.header-QQ img {
    float: left;
}
.header-QQ span {
    margin-left: 10px;
    float: left;
}
.nav-box {
    height: 131px;
    /* background-color: rgb(255, 113, 113); */
}
.header-nav {
    color: #000;
    font-size: 16px;
    /* padding: 0 45px; */
    margin-top: 20px;
    /* margin-ri: 60px; */
    float: right;

}





main,
footer {
    width: 480Px;
    /* border: 1px solid #000000; */
    /* float: right; */
    margin-left: 770px;
    /* margin: 0 1000px; */
}

.qq {
    height: 59px;
    font-size: 44px;
    margin-bottom: 30px;
}

.day {
    font-size: 28px;
    margin-bottom: 64px;
    line-height: 1.2;
    color: #333;
    display: inline-block;
}

.free{

    font-size: 24px;
    float: right;
    color: #359eff 
}
.free:hover {
    color: #2b72ff;
}
.user-nickname {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    width: 480px;
    /* padding: 0px 20px; */
    padding-left: 20px;
    margin-bottom: 32px;
    font-size: 20px;
    /* box-sizing: border-box； */
}

.f-required {
    display: none;
}
.tphone {
    display: inline-block;
    width: 152px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    font-size: 20px;
    background-color: #fff;
}
.nsearch {
    float: right;
    width: 305px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    font-size: 20px;
    box-sizing: border-box; 
}
.a-text {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 40px;
    /* padding-top: 8px; */
    height: 18px;
    overflow: hidden;
    position: relative;
    /* line-height: 50px; */
    
}
.text {
    width: 100%;
    font-size: 14px;
    height: 14px;
    color: #999;
    position: absolute;
}

.form-SMS {
    display: none;
}
.registered {
    border: 1px #3083ff solid;
    border-radius: 4px;
    background-color: #3083ff;
    width: 100%;
    height: 60px;
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
    color: #ffffff;
}
.registered:hover {
    background-color: #4085f7;
}
li{
    list-style:none
}
.instructions {
    margin-bottom: 32px;
    margin-top: 40px;
    line-height: 24px;
    width: 100%;
    font-size: 14px;
    height: 14px;
    color: #999;

}
.agreement {
    display: none;
}

.copyright {
    margin-top: 100px;
    font-size: 14px;
    height: 14px;
    color: #999;
}