


.advertising {
    color: #a8a8aa;
    height: 40px;
    width: auto;
    padding: 0 22px;

    background-color: black
}






















/* .watch {
    margin: 0px;
    color: #000;
}

.red{
    color: red;
}

.b-link { 
    color: #359eff 
}

.b-link:hover{
    color: blue;
}

.watch ::after{
    content: "";
    display:block;
    clear: both;

} */