.watch {
    margin: 0px;
}
a{
    color: #000;
}
.red{
    color: red
}

.b-link { 
    color: #359eff 
}

.b-link :hover{
    color: blue
}

.watch ::after{
    content: "";
    display:block;
    clear: both;

}